
<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "css/style.css" %}">
	<script scr="{{ STATIC_URL}}js/login.js "></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>
		Log in
	</title>
</head>

<body>
	<div  class="login-page">
	  <div class="form">
	    <form action= "{% url 'login'%}" class="login-form" method="post">
	    	{% csrf_token %}
	      <input name="username" type="text" placeholder="username"/>
	      <input name="password" type="password" placeholder="password"/>
	      <button>login</button>
	      <p class="message">Not registered? <a href="#">Create an account</a></p>
	    </form>

	    <form action=" {% url 'signup'%}"  class="register-form" method="post">
	    	{% csrf_token %}
	      <input name="username" type="text" placeholder="username"/>
	      <input name="password" type="password" placeholder="password"/>
	      <input name="email" type="email" placeholder="email"/>
	      <button>create</button>
	      <p class="message">Already registered? <a href="#">Sign In</a></p>
	    </form>
	  </div>
	</div>
</body>